body {
  color: #000000;
  background-color: white;
}

h1,
h5 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

div {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 10px;
  margin-bottom: -5px;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

section {
  background-color: rgba(112, 128, 144, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
}

header,
footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#image {
  max-width: 100%;
  height: auto;
  display: block; /* image inline */
  margin: auto; /* center the image */
}
